In [182]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from collections import Counter
from datetime import datetime

In [183]:
data = pd.read_csv('Samsung_Phones.csv')

In [184]:
#produce total number of phones released by samsung
df = pd.read_csv('Samsung_Phones.csv')
df

                       Phone Model Release Date  Year
0           Samsung Galaxy S I9000     6/1/2010  2010
1           Samsung I9008 Galaxy S     6/1/2010  2010
2           Samsung Galaxy S M110S     7/1/2010  2010
3            Samsung Galaxy S I909    10/1/2010  2010
4    Samsung Galaxy S Hoppin M190S    11/1/2010  2010
..                             ...          ...   ...
461          Samsung Galaxy F52 5G     6/1/2021  2021
462             Samsung Galaxy F22    7/13/2021  2021
463          Samsung Galaxy F42 5G    10/3/2021  2021
464             Samsung Galaxy F23    3/16/2022  2022
465             Samsung Galaxy F13    3/16/2022  2022

[466 rows x 3 columns]

In [191]:
# Calculate the number of unique phones
phone_count = len(df["Phone Model"].unique())
summary_df = pd.DataFrame({"Total Unique Phones": [phone_count]})
summary_df

   Total Unique Phones
0                  465

In [186]:
#count the number of releases by year
s = df['Year'].value_counts().rename('Yearly_Releases')
df = df.join(s, on='Year')
df

                       Phone Model Release Date  Year  Yearly_Releases
0           Samsung Galaxy S I9000     6/1/2010  2010                8
1           Samsung I9008 Galaxy S     6/1/2010  2010                8
2           Samsung Galaxy S M110S     7/1/2010  2010                8
3            Samsung Galaxy S I909    10/1/2010  2010                8
4    Samsung Galaxy S Hoppin M190S    11/1/2010  2010                8
..                             ...          ...   ...              ...
461          Samsung Galaxy F52 5G     6/1/2021  2021               38
462             Samsung Galaxy F22    7/13/2021  2021               38
463          Samsung Galaxy F42 5G    10/3/2021  2021               38
464             Samsung Galaxy F23    3/16/2022  2022               32
465             Samsung Galaxy F13    3/16/2022  2022               32

[466 rows x 4 columns]

In [ ]:
df['Year'].value_counts()[2021]

In [190]:
df['Year'].value_counts()[2022]

32

In [147]:
data.columns

Index(['Phone Model', 'Release Date'], dtype='object')